.home {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px 352px;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 96.89%;
    background: #F0EFF5;
    border-bottom: 2px solid #E7E6EF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #1D1C24;
}