:root {
  --background: #0d0c1a;
  --bubbles1: #db2ef2;
  --bubbles2: #26a646;
  --text-color-1: #6f33f1;
  --text-color-2: #26a646;
}

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: var(--background);
  color: #fff;
  scroll-behavior: smooth;
}

section > div {
  padding: 0 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section:nth-child(odd) {
  background-color: #10101f;
}

marquee {
  background-color: #0d0c1a;
  padding: 30px;
  border-top: 1px solid rgba(216, 216, 216, 0.192);
  border-bottom: 1px solid rgba(216, 216, 216, 0.192);
}

marquee div {
  display: flex;
  align-items: center;
}

marquee span {
  font-family: "Barlow";
  margin: 0px 50px;
  font-size: 25px;
}

a {
  text-decoration: none;
  color: #fff;
}

header {
  position: absolute;
  z-index: 2;
  right: 50%;
  transform: translateX(50%);
  width: 50%;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-left: 3px solid var(--text-color-1);
  border-bottom: 3px solid var(--text-color-1);
  border-right: 3px solid var(--text-color-1);
  background: linear-gradient(to right, #0d0c1a, #442091);
}

header h3 {
  cursor: pointer;
  font-family: "Cabin";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 29px;
}

header h3:hover {
  color: #a074ff;
}

.background {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 1;
}

.bubbles {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.bubbles span {
  position: relative;
  width: 30px;
  height: 30px;
  display: flex;
  background-color: var(--bubbles1);
  margin: 0 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #db2ef244, 0 0 50px var(--bubbles1),
    0 0 100px var(--bubbles1);
  animation: animate 12s linear infinite;
  animation-duration: calc(125s / var(--i));
}

.bubbles span:nth-child(even) {
  background-color: var(--bubbles2);
  box-shadow: 0 0 0 10px #26a64644, 0 0 50px var(--bubbles2),
    0 0 100px var(--bubbles2);
}

@keyframes animate {
  0% {
    transform: translateY(100vh) scale(0);
  }

  100% {
    transform: translateY(-10vh) scale(1);
  }
}

.home {
  height: 100vh;
  min-height: 700px;
  background: radial-gradient(ellipse at bottom, #121126 0%, #090a0f 100%);
}

.home > div {
  z-index: 2;
  width: 40%;
}

.details h1 {
  font-family: "Cabin";
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 115%;
  margin: 0;
}

.details h3 {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

.details h3 span,
.details h1 span {
  color: var(--text-color-1);
}

.details h4 {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  margin-bottom: 40px;
}

.details div {
  display: flex;
  gap: 8px;
}

.code {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.code > div {
  box-sizing: border-box;
  padding: 40px;
  height: 200px;
  width: 384px;
  background: #f0eff5;
  border: 1px solid #586c7a;
  border-radius: 16px;
  background-color: #121126;
}

.code > div:hover {
  box-shadow: var(--bubbles1) 0px 1px 1px 2px;
  border: 1px solid var(--bubbles1);
  box-shadow: rgba(240, 46, 170, 0.4) -5px 5px,
    rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px,
    rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}

.code > div:first-child {
  margin-right: 100px;
  transition-property: box-shadow border;
  transition-duration: 0.4s;
}

.code > div:last-child {
  margin-left: 100px;
  transition-property: box-shadow;
  transition-duration: 0.4s;
}

.code * {
  margin: 0;
  font-family: "Barlow";
  font-style: normal;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.code h5 {
  color: #8e9396;
}

.code h4 span {
  color: var(--text-color-2);
}

.code h3 span {
  color: #a074ff;
}

.arrow {
  position: absolute;
  z-index: 2;
  bottom: 60px;
  right: 0;
  left: 0;
  margin: auto;
  flex-direction: column;
}

.arrow span {
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  margin: -13px;
  animation: animateArrow 2s infinite;
}

.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animateArrow {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

.about > div:first-child {
  width: 40%;
}

.about > div:last-child {
  width: 50%;
}

.journey {
  position: sticky;
  align-self: flex-start;
}

.journey h2 {
  font-family: "Cabin";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
}

.journey h2 span {
  color: var(--text-color-1);
}

.journey p {
  font-family: "Cabin";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  margin: 0;
}

.works {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: space-around;
  background-color: #121126;
}

.works > div:nth-child(even) {
  flex-direction: row-reverse;
}

.works > div {
  width: 100%;
  height: 287px;
  display: flex;
}

.works > div > div:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  background: linear-gradient(45deg, #03030d, #100f40, #6f33f1);
  background-size: 300% 300%;
  animation: color-background 5s ease infinite;
}

@keyframes color-background {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.works > div > div:last-child {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  padding: 20px;
  height: 100%;
}

.works h2 {
  font-family: "Cabin";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: var(--text-color-1);
  margin: 0;
}

.works h3 {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  margin: 6px 0;
}

.works p {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  margin: 0;
}

.technologies {
  height: 70vh;
  min-height: 450px;
}

.technologies > div {
  z-index: 2;
  width: 40%;
}

.technologies h3 {
  font-family: "Cabin";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  margin: 0;
}

.title-technologies {
  font-family: "Cabin";
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  padding-top: 60px;
  text-align: center;
}

.title-technologies span {
  color: var(--text-color-1);
}

.technologies-icons {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(3, 1fr);
}

.technologies-icons > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.technologies-icons img {
  width: 50px;
  height: 50px;
  transition: transform 0.3s;
}

.technologies-icons img:hover {
  transform: scale(1.1);
}

.technologies-icons h4 {
  font-family: "Barlow";
  font-size: 14px;
  margin: 0;
}

.findMe {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.findMe h1 {
  font-family: "Cabin";
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  text-align: center;
}

.findMe h1 span {
  color: var(--text-color-1);
}

.links {
  width: 100%;
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  height: 200px;
}

.links > div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.linkMe {
  display: flex;
}

.linkMe span:hover {
  border-bottom: 3px solid var(--text-color-1);
  transition: border-bottom 0.5s;
}

.linkMe span {
  font-family: "Barlow";
  font-style: normal;
  border-bottom: 3px solid transparent;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  margin-left: 5px;
}

.linkMe img {
  width: 40px;
}

.bubbly-button {
  all: unset;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  padding: 16px 36px;
  box-sizing: border-box;
  width: auto;
  height: auto;
  border: 1px solid #6f33f1;
  background-color: var(--background);
  border-radius: 8px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 20px var(--text-color-1);
}

.bubbly-button:focus {
  outline: 0;
}

.bubbly-button:before,
.bubbly-button:after {
  position: absolute;
  content: "";
  display: block;
  width: 140%;
  height: 100%;
  left: -20%;
  z-index: -1000;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}

.bubbly-button:before {
  display: none;
  top: -75%;
  background-image: radial-gradient(
      circle,
      var(--text-color-1) 20%,
      transparent 20%
    ),
    radial-gradient(
      circle,
      transparent 20%,
      var(--text-color-1) 20%,
      transparent 30%
    ),
    radial-gradient(circle, var(--text-color-1) 20%, transparent 20%),
    radial-gradient(circle, var(--text-color-1) 20%, transparent 20%),
    radial-gradient(
      circle,
      transparent 10%,
      var(--text-color-1) 15%,
      transparent 20%
    ),
    radial-gradient(circle, var(--text-color-1) 20%, transparent 20%),
    radial-gradient(circle, var(--text-color-1) 20%, transparent 20%),
    radial-gradient(circle, var(--text-color-1) 20%, transparent 20%),
    radial-gradient(circle, var(--text-color-1) 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
}

.bubbly-button:after {
  display: none;
  bottom: -75%;
  background-image: radial-gradient(
      circle,
      var(--text-color-1) 20%,
      transparent 20%
    ),
    radial-gradient(circle, var(--text-color-1) 20%, transparent 20%),
    radial-gradient(
      circle,
      transparent 10%,
      var(--text-color-1) 15%,
      transparent 20%
    ),
    radial-gradient(circle, var(--text-color-1) 20%, transparent 20%),
    radial-gradient(circle, var(--text-color-1) 20%, transparent 20%),
    radial-gradient(circle, var(--text-color-1) 20%, transparent 20%),
    radial-gradient(circle, var(--text-color-1) 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}

.bubbly-button:active {
  transform: scale(0.9);
  box-shadow: 0 2px 25px var(--background);
}

.bubbly-button.animate:before {
  display: block;
  animation: topBubbles ease-in-out 0.75s forwards;
}

.bubbly-button.animate:after {
  display: block;
  animation: bottomBubbles ease-in-out 0.75s forwards;
}

@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }

  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }

  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }

  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }

  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

@media (max-width: 1150px) {
  section > div {
    padding: 0 5%;
  }

  header {
    width: 100vw;
  }

  .home > div {
    width: 100%;
  }

  .details h4 {
    line-height: 30px;
    font-size: 13px;
  }

  .details h3 {
    font-size: 20px;
  }
  .details h1 {
    font-size: 30px;
  }

  .bubbly-button {
    font-size: 13px;
  }

  .works h2 {
    font-size: 26px;
    line-height: 40px;
    margin: 0;
  }

  .works h4 {
    font-size: 16px;
    line-height: 25px;
    margin: 6px 0;
  }

  .works h3 {
    font-size: 13px;
    line-height: 130%;
    margin: 0;
  }

  .technologies > div {
    margin: auto;
    width: 100%;
  }

  .technologies > div:last-child {
    display: none;
  }

  .arrow {
    display: none;
  }

  .code {
    display: none;
  }

  .journey {
    display: none;
  }

  .about > div:last-child {
    width: 100%;
  }

  .title-technologies {
    font-size: 40px;
  }

  .findMe h1 {
    font-size: 40px;
  }
}

@media (max-width: 500px) {
  section > div {
    padding: 0 5%;
  }

  header {
    width: 100vw;
  }

  header h3 {
    font-size: 13px;
  }

  .background {
    height: 50vh;
  }

  .bubbly-button {
    font-size: 12px;
  }

  .technologies {
    height: 50vh;
  }

  .details h4 {
    line-height: 20px;
    font-size: 14px;
  }

  .technologies h3 {
    font-size: 20px;
  }

  .works > div {
    height: 230px;
  }

  .works > div img {
    width: 70px;
    height: 70px;
  }

  .works h2 {
    font-size: 20px;
    line-height: 40px;
    margin: 0;
  }

  marquee {
    margin: 50px 0px;
    padding: 20px;
  }

  marquee span {
    font-size: 15px;
  }

  .technologies-icons img {
    width: 35px;
    height: 35px;
  }

  .technologies-icons h4 {
    font-size: 10px;
  }

  .works h4 {
    font-size: 12px;
    line-height: 25px;
    margin: 6px 0;
  }

  .works h3 {
    font-size: 10px;
  }

  .arrow {
    display: none;
  }

  .code {
    display: none;
  }

  .journey {
    display: none;
  }

  .about > div:last-child {
    width: 100%;
  }

  .findMe {
    height: 30vh;
  }

  .linkMe span {
    font-size: 13px;
  }

  .linkMe img {
    width: 30px;
  }

  .title-technologies {
    font-size: 30px;
  }

  .findMe h1 {
    font-size: 30px;
  }
}
