html,
body {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #1D1C24;
    color: #fff;
}

section>div {
    padding: 0 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

marquee{
    margin: 100px 0px;
}

marquee >div{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

a{
    text-decoration: none;
    color: #fff;
}

.header {
    align-items: center;
    height: 10vh;
    border-bottom: 2px solid #E7E6EF;
}

.header h2 {
    color: #5562FF;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}

.header>div {
    width: 30%;
    display: flex;
    justify-content: space-between;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #1D1C24;
    cursor: pointer;
}

.background {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 1;
}

.bubbles {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.bubbles span {
    position: relative;
    width: 30px;
    height: 30px;
    display: flex;
    background-color: #5562FF;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #5562FF44,
        0 0 50px #5562FF,
        0 0 100px #5562FF;
    animation: animate 12s linear infinite;
    animation-duration: calc(125s / var(--i));
}

.bubbles span:nth-child(even) {
    background: #FE481C;
    box-shadow: 0 0 0 10px #FE481C44,
        0 0 50px #FE481C,
        0 0 100px #FE481C;
}


@keyframes animate {
    0% {
        transform: translateY(100vh) scale(0);
    }

    100% {
        transform: translateY(-10vh) scale(1);
    }
}

.home {
    height: 100vh;
    background: radial-gradient(ellipse at bottom, #1b2735 0%,#090a0f 100%);
}

.home>div {
    z-index: 2;
    width: 40%;
}

.details h1 {
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 115%;
    margin: 0;
}

.details h3 {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}

.details h3 span, .details h1 span {
    color: #5562FF
}

.details h4 {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
}

.details div {
    display: flex;
    gap: 8px;
}

.details>div button:first-child {
    all: unset;
    padding: 16px;
    width: 176px;
    height: 49px;
    background: #FE481C;
    border-radius: 8px;
    box-sizing: border-box;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #F2F1F0;
    text-align: center;
    cursor: pointer;
}

.details>div button:last-child {
    all: unset;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    padding: 16px;
    box-sizing: border-box;
    width: 176px;
    height: 49px;
    border: 1px solid #5562FF;
    background-color: #1D1C24;
    border-radius: 8px;
    text-align: center;
    color: #5562FF;
    cursor: pointer;
}

.code {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.code>div:first-child {
    margin-right: 100px;
}

.code>div:last-child {
    margin-left: 100px;
}

.code>div {
    box-sizing: border-box;
    padding: 40px;
    height: 200px;
    width: 384px;
    background: #F0EFF5;
    border: 1px solid #586C7A;
    border-radius: 16px;
    background-color: #191920;
}

.code * {
    margin: 0;
    font-family: 'Barlow';
    font-style: normal;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.code h5 {
    color: #586C7A;
}

.code h4 span {
    color: #FE481C;
}

.code h3 span {
    color: #5562FF;
}

.about>div:first-child {
    width: 40%;
}

.about>div:last-child {
    width: 50%;
}

.journey{
    position: sticky;
    top: 50%;
    align-self: flex-start;
}


.works {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: space-around;
    background-color: #1b2735;
}

.works>div:nth-child(even) {
    flex-direction: row-reverse;
}

.works>div {
    width: 100%;
    height: 287px;
    display: flex;
}

.works>div>div:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    background: #090a0f;
}

.works>div>div:last-child {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding: 20px;
    height: 100%;
}

.works h2 {
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #FE481C;
    margin: 0;
}

.works h4 {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    margin: 0;
}

.works h3 {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    margin: 0;
}

.findMe {
    height: 100vh;
}

.findMe>div {
    width: 40%;
}

.linkMe {
    margin-top: 10px;
    display: flex;
    align-items: center;
    height: 30px;
}

.linkMe span:hover {
    border-bottom: 2px solid #fff;
    transition: border-bottom 0.5s;
}

.linkMe span {
    font-family: 'Barlow';
    font-style: normal;
    border-bottom: 1px solid transparent;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
}

.linkMe svg {
    border-bottom: 1px solid transparent;
}

.startProject {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 24px 64px;
    gap: 8px;
    width: 592px;
    height: 123px;
    background: #5562FF;
    border-radius: 16px;
}

.startProject h3 {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: #F9F9FC;
}

.startProject h4 {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: rgba(249, 249, 252, 0.6);
}