html,
body {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #1D1C24;
    color: #fff;
}

section>div {
    padding: 0 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    align-items: center;
    height: 10vh;
    border-bottom: 2px solid #E7E6EF;
}

.header h2 {
    color: #5562FF;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}

.header>div {
    width: 30%;
    display: flex;
    justify-content: space-between;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #1D1C24;
    cursor: pointer;
}

.home {
    height: 100vh;
}

.home>div {
    z-index: 2;
    width: 40%;
}

.details h1 {
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 115%;
    margin: 0;
}

.details h3 {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}

.details h3 span {
    color: #5562FF
}

.details h1 span {
    color: #5562FF
}

.details h4 {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
}

.details div {
    display: flex;
    gap: 8px;
}

.details>div button:first-child {
    all: unset;
    padding: 16px;
    width: 176px;
    height: 49px;
    background: #FE481C;
    border-radius: 8px;
    box-sizing: border-box;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #F2F1F0;
    text-align: center;
    cursor: pointer;
}

.details>div button:last-child {
    all: unset;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    padding: 16px;
    box-sizing: border-box;
    width: 176px;
    height: 49px;
    border: 1px solid #5562FF;
    background-color: #1D1C24;
    border-radius: 8px;
    text-align: center;
    color: #5562FF;
    cursor: pointer;
}

.code {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.code>div:first-child {
    margin-right: 100px;
}

.code>div:last-child {
    margin-left: 100px;
}

.code>div {
    box-sizing: border-box;
    padding: 40px;
    height: 200px;
    width: 384px;
    background: #F0EFF5;
    border: 1px solid #586C7A;
    border-radius: 16px;
    background-color: #191920;
}

.code * {
    margin: 0;
    font-family: 'Barlow';
    font-style: normal;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.code h5 {
    color: #586C7A;
}

.code h4 span {
    color: #FE481C;
}

.code h3 span {
    color: #5562FF;
}

.skills {
    height: 318px;
}

.skills>div {
    width: 40%;
}

.skills-text h2 {
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 115%;
    color: #1D1C24;
}

.skills-text h4 {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: rgba(29, 28, 36, 0.6);
}

.skillsBar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 80%;
}

.skillsBar h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #1D1C24;
}

.bar-out {
    width: 90%;
    height: 15px;
    background-color: #F9F9FC;
    border: 1px solid #E7E6EF;
    border-radius: 200px;
    overflow: hidden;
}

.inside-bar {
    height: 15px;
    width: 0;
    background-color: #5562FF;
    border-radius: 10px;
}

.about>div:first-child {
    width: 40%;
}

.about>div:last-child {
    width: 43%;
}

.works {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: space-around;
    height: 600px;
}

.works>div {
    position: absolute;
    box-sizing: border-box;
    padding: 64px 24px;
    width: 280px;
    height: 287px;
    background: #F0EFF5;
    border: 1px solid #E7E6EF;
    border-radius: 16px;
}

.works div h2 {
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #FE481C;
    margin: 0;
}

.works div h4 {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: #1D1C24;
    margin: 0;
}

.works div h3 {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: rgba(29, 28, 36, 0.6);
    margin: 0;
}

.works>div:nth-child(1) {
    top: 0;
    left: 0;
}

.works>div:nth-child(2) {
    top: 72px;
    right: 0;
}

.works>div:nth-child(3) {
    bottom: 0;
    left: 0;
}

.works>div:nth-child(4) {
    bottom: -72px;
    right: 0;
}

.findMe>div {
    width: 40%;
}

.linkMe {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.linkMe span {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    color: rgba(29, 28, 36, 0.6);
}

.startProject {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 24px 64px;
    gap: 8px;
    width: 592px;
    height: 123px;
    background: #5562FF;
    border-radius: 16px;
}

.startProject h3 {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: #F9F9FC;
}

.startProject h4 {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: rgba(249, 249, 252, 0.6);
}

.background {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 1;
}

.bubbles {
    position: relative;
    display: flex;
}


.bubbles span {
    position: relative;
    width: 30px;
    height: 30px;
    display: flex;
    background-color: #4fc3dc;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc44,
        0 0 50px #FE481C,
        0 0 100px #4fc3dc;
    animation: animate 12s linear infinite;
    animation-duration: calc(125s / var(--i));
}

.bubbles span:nth-child(even) {
    background: #ff2d75;
    box-shadow: 0 0 0 10px #ff2d7544,
        0 0 50px #ff2d75,
        0 0 100px #ff2d75;
}


@keyframes animate {
    0% {
        transform: translateY(100vh) scale(0);
    }

    100% {
        transform: translateY(-10vh) scale(1);
    }
}