html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #0d0c1a;
  color: #fff;
  scroll-behavior: smooth;
}

section > div {
  padding: 0 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section:nth-child(odd) {
  background-color: #10101f;
}

marquee {
  background-color: #0d0c1a;
  padding: 30px;
  border-top: 1px solid rgba(216, 216, 216, 0.192);
  border-bottom: 1px solid rgba(216, 216, 216, 0.192);
}

marquee div {
  display: flex;
  align-items: center;
}

marquee span {
  font-family: "Barlow";
  margin: 0px 50px;
  font-size: 25px;
}

a {
  text-decoration: none;
  color: #fff;
}

.background {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 1;
}

.bubbles {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.bubbles span {
  position: relative;
  width: 30px;
  height: 30px;
  display: flex;
  background-color: #db2ef2;
  margin: 0 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #db2ef244, 0 0 50px #db2ef2,
    0 0 100px #db2ef2;
  animation: animate 12s linear infinite;
  animation-duration: calc(125s / var(--i));
}

.bubbles span:nth-child(even) {
  background-color: #26a646;
  box-shadow: 0 0 0 10px #26a64644, 0 0 50px #26a646,
    0 0 100px #26a646;
}

body::-webkit-scrollbar {
  width: 20px;
}

body::-webkit-scrollbar-track {
  background: #0b0c14;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #3E3F40;
  border: 6px solid #0a0b10;
}

@keyframes animate {
  0% {
    transform: translateY(100vh) scale(0);
  }

  100% {
    transform: translateY(-10vh) scale(1);
  }
}

@media (max-width: 1280px) {
  section > div {
    padding: 0 5%;
  }
}

@media (max-width: 500px) {
  marquee {
    margin: 50px 0px;
    padding: 20px;
  }

  marquee span {
    font-size: 15px;
  }
}
